*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand{
    font-size: 2rem;
    color: black;
    font-family: 'Lobster', cursive;
}
.navbar-brand:hover{
    color: black;
}

.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}
/.nav-link:hover{
    color: black;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Rubik', sans-serif;
    border: 2px solid rgb(181, 93, 16);
}
.btn0{
    height: 40px;
    width: 40%;
    border: none;
    outline: none;
    background: rgb(181, 93, 16);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}
.main{
    background: url(./img/beans.jpeg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}
.main h1{
    font-size: 3.5rem;
    font-weight: 750;
    color: cornsilk;
}
.main h3{
    font-size: 2rem;
    font-weight: 750;
    color: cornsilk;
}
.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: rgb(181, 93, 16);
    color: white;
    font-weight: 700;
    border-radius: 60px;
}
.btn1:hover{
    background-color: rgb(216, 117, 30);
    transition: 0.5s;
}
h1{
    font-weight: 700;
}
.card:hover{
    box-shadow: -2px -1px 25px -4px rgba(139, 115, 80, 0.75);
-webkit-box-shadow: -2px -1px 25px -4px rgba(139, 115, 80, 0.75);
-moz-box-shadow: -2px -1px 25px -4px rgba(139, 115, 80, 0.75);
}